
.outerLoader
{
    background: rgb(0, 0, 0);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999999999999999999999999999999999999999;
    overflow: hidden !important;
    text-align: center;
}
.loader {
    background: url('bird_loader.gif') 50% 50% no-repeat rgb(0, 0, 0);
    left: 0px;
    top: 0px;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden !important;
}
input[type="text"][title]:hover:after{
    content: attr(title);
    padding: 4px 8px;
    position: absolute;
    left: 0;
    top: 100%;
    white-space: nowrap;
    z-index: 20;
    color:#fff;
    background-color:#000;
}
.form-control,.btn,.no-border-radius
{
    border-radius: 0px;
}
.show-shadow
{
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175) !important;
}
.change-cursor
{
    cursor: pointer;
}
 .cat-section-inner
{
    border: 1px solid #cccccc;
    margin-right: 26px;
    margin-left: 0px;
    width: 31%;
}
.cat-section-list{
    width:36%;
    height: 100%;
    padding-left: 18px;
    padding-top: 25px;
}
.cat-section-list h3{
    font-size: 24px;
    color: #0b1033;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    position: relative;
    padding-bottom: 8px;
}
.cat-section-list-img{
    margin-left: 9px;
}
.login-card
{
     padding: 50px 0px;
    text-align:center;
}
.login-inner
{
    padding:0;
    margin-left: 30px;
    width:96%;
}
.login-img-container{
    margin: 0;
padding: 0;
}
.card-title
{
    padding-top: 40px;
    margin-bottom: 20px;
    border-bottom: 1px solid #cccccc;
}
.login-form{
    padding-left: 85px;
}
.btn-login {
    font-size: 12px;
    padding: .75rem 1rem;
}
.btn-block {
    display: block;
    width: 100%;
}
.btn-google {
    color: #fff;
    background-color: #ea4335;
    border-color: #fff;
    text-decoration: none;
}
.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: #fff;
    text-decoration: none;
}
.btn-primary {
    color: #fff;
    background-color: #4e73df;
    border-color: #4e73df;
}
.btn-facebook:hover,.btn-google:hover{
    color: #fff;
}
.footer-copyright
{
    font-size: 12px !important;
    padding-top: 5px !important;
    margin-bottom: -22px !important;
}
.hr-line{
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}
.footer{
    background-color: #fff;
}
.error-area
{
    text-align: center;
    padding: 100px 0px;
}
.error-404
{
    font-size: 72px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    color: #000;
    letter-spacing: 1.8px;
}
.error_inner h5 {
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    color: #000;
    font-weight: 600;
    letter-spacing: .60px;
    padding-top: 12px;
}
.error_inner p {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    color: #666666;
    letter-spacing: .40px;
    padding: 30px 0px 15px 0px;
}
.error_inner h6 {
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    color: #666666;
    letter-spacing: .40px;
}
.width-50per
{
    width: 50%;
}
.width-49per
{
    width: 49%;
}
.width-45per
{
    width: 45%;
}
.width-100per
{
    width:100%;
}
.btn-red
{
    background-color:#f52515 !important;
    color:#fff
}
.image-slider img{
    width: 100%;
    height: 260px
}

.categories-tbl tbody .btn{
    padding: 0px;
}
.categories-tbl tbody .btn:hover{
    color:#fff;
}
.categories-tbl tr:nth-child(even),.subCategories_tbl tr:nth-child(even){
    background-color: #c4c1c1;
}
.custom-header{
    height: 40px;
    background-color: #e8a900;
    color: white;
    padding: 10px 15px;
}
.custom-header .h5, h5 {
    font-size: 14px !important;
}
.close{
    height: 20px;
    color: white;
    font-size: 14px;
}
.btn-edit,.btn-delete
{
    height: 22px;
    color: white !important;
    font-size: 14px;
    padding: 0px 14px !important;
}
.modal-submit-btn,.modal-close-btn
{
    padding: 2px 10px !important;
    font-size: 14px;
}
.subCategories_tbl thead th,.subCategories_tbl tbody tr td,.categories-tbl tbody tr td,.categories-tbl thead th{
    text-align: center;
    color: black;
}
.subCategories_tbl thead,.categories-tbl thead th
{
    background-color: #09699d;
}
.change_input_display{
    padding: 0px;
    height: 22px;
    margin-left: 10px;
}
.change_label_display{
    margin-left: 12px;
}
.hidden{
    display: none;
  }
.error_message,.error_message1
{
    color:#f70404;
    font-size: 11px;
    font-weight: bold;
}
.text-notes{
    font-size: 11px;
    margin: 10px;
    color: #e65907;
    font-weight: bold;
}
.inner-form-group{
    margin-bottom: 5px;
}
.card-header{
    background-color: #09699d !important;
}
.card-header-text{
    color: #fff !important;
}
.add_items,.lable-text{
    font-weight: bold;
    color:#000;
}
.image-preview{
    width: 30%;
    margin:10px 0px;
}
.drop_tree li ul{
    display: none;
}
.fa-plus{
    font-size: 11px;
    color:#323293;
    margin-right: 6px;
}
.categories_table tr td{ 
    font-size: 14px;
    color:black;
    padding:2px 5px;
}
.categories_table thead{
    background-color: #09699d;
    color:#fff;    
}
.categories_table thead th{
    padding: 5px;
}
.change_label_display{
    color: #000;
}
.padding-right-5{
    padding-right: 5px;
}
.active{
    color:blue;
}